.title{
    color: white !important;
    font-size: 26px;
    //font-weight: 500;
    word-spacing: 30px !important;
    padding-left: 10px;
}

.logo{
    display: flex;
    width: 210px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}