
@use '@angular/material' as mat;
@include mat.core();
$library-primary: mat.define-palette(mat.$indigo-palette);
$library-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$library-warn: mat.define-palette(mat.$red-palette);
$library-theme: mat.define-light-theme((
  color: (
    primary: $library-primary,
    accent: $library-accent,
    warn: $library-warn,
  )
));
@include mat.all-component-themes($library-theme);

@import "theme.scss" ;


.mdc-form-field>label {
  padding-left: 0px !important;

}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: var(--color-primary) !important;
  --mdc-radio-selected-hover-icon-color:  var(--color-primary) !important;
  --mdc-radio-selected-icon-color:  var(--color-primary) !important;
  --mdc-radio-selected-pressed-icon-color:  var(--color-primary) !important;
  --mat-mdc-radio-checked-ripple-color:  var(--color-primary) !important;
}

.mdc-form-field {
  height: 27px !important;
}