mat-radio-group {
    display: flex;
    flex-direction:column;
    mat-radio-button{
        width: 100%;
    }
}

.row{
    margin-top: 65px;
    min-height: 500px;
}

.option{
    padding-top: 5px !important;
    padding-left: 10px;
    label{
        font-size: 15px;
    }
    mat-radio-group{
        font-size: 15px;
    }
}

h4{
    padding-top: 10px;;
    font-size: 18px;
  //  padding-left: 15px ;
    font-family: 'Poppins Medium';
}

button{
    width: 100%;
}

.buttons{
    padding-top: 15px;
    padding-left: 15px ;
    padding-right: 15px;
}

.content{
    width: 260px !important;
}

.header{
    display: none;

    
 
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 99999; 
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: auto; 
    transition: 0.5s; 
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.box{
    padding-left: 0px;
    margin-top:65px;
    padding-right: 15px;
}

button{
    font-size: 15px;
    width: 150px;
}

@import "./../../../../../styles/base.scss" ;

@media only screen and (max-width: $mobile-width) {
    h4{
        //padding-top: 15px;
        padding-left: 10px;
    }
    .option{
        display: block !important;
        text-wrap: nowrap;
        padding-left: 10px;
    }
    .header{
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex !important;
    }
    .item{
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        text-wrap: nowrap;
        justify-content: space-between;
        label{
            padding-left: 10px;
            color: white;
        }
    }

    .box{
        margin-top: 10px !important;
        padding: 0px !important;
    }

    .buttons{
        padding-left: 10px !important;
        padding-right: 10px !important;
        text-align: center;
        width: 100%;
    }
    .button-mobile{
        //font-size: 15px;
        width: 100% !important;
    }
}


