.toolbar-menu {
    width: 500px;
    height: 50px;
  //  background-color: red;
    .top-menu {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      ul {
        cursor: pointer;
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        li{
          padding: 0;
          margin: 0;
          width: 100%;
         
          a {
           // color: var(--color-menu) !important;
            text-decoration-line: none;
            font-family: 'Roboto Medium' !important;
            font-size: 15px;
          }
        }
      }
      
    } 
  }

  @media only screen and (max-width: 600px) {  
    .toolbar-menu{
       display: none !important;
     }
 }