.error{
    padding-top: 10px;
    color: var(  --color-danger);
    font-size: 15px;
    text-align: center;
    width: 160px;
    padding-left: 12px;
}


@import "./../../../../styles/base.scss" ;

@media only screen and (max-width: $mobile-width) {
    .error{
        width: 220px !important;
    }
}
